fastapi==0.115.0
uvicorn==0.30.6
python-dotenv==1.0.1
sentence-transformers==3.3.1
faiss-cpu==1.9.0
numpy==1.26.4
supabase==2.9.1
pandas==2.2.3
torch==2.5.1
transformers==4.46.3
requests==2.32.3
pydantic==2.9.2
python-multipart==0.0.12
